<% list_of_flights.each do |flight|%>

    <div class= "custom-card-main ">

        <div class="custom-card-main__title"> 
            Flight from: <%= flight.departure.code%> to:  <%= flight.arrival.code%>  
        </div>

           <div class="custom-card-main__stats">
              <div class= "custom-card-main__stats__item"> 
               Duration: <%= flight.date%> 
            </div>         
             <div class= "custom-card-main__stats__item"> 
               Duration: <%= flight.duration%> 
            </div>         
             
        </div>

</div>
<% end %>