
// Card being used on FLIGHT-INDEX

.custom-card{
    
    border: 1px solid #e6e6e6;
    width: 90%;
    padding: 1rem;
    border-radius: 0.25rem;
}


.custom-card__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-width: 80%;
}


.custom-card__body__top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card__body__bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


// *{
//     outline: 1px solid red;

// }


.custom-card form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.card__label{
    font-weight: 500;
}

.card__info{
    font-size: 0.65rem;
}

.card__field {
    width: 200px;
    max-width: 300px;
    height: 50px;
 

}

.card__field input, .card__field select{
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #6c6c6c;
    padding-left: 1rem;
}


.card__field--small{
    width: 3rem;
    height: 1.5rem;

}

.card__field--small input{
    text-align: end;
    background-color: transparent;
}

.card__field input:hover { 
    box-shadow: 0 0 0 3px #c8f3fa,0 2px 2px rgba(15,17,17,.15) inset;
}

.custom-card__actions{
    width: 100px;
    height: 40px;

}


.custom-card__actions input {
    background-color: rgb(232, 17, 75);
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    height: 100%;
    color: white;
}

.custom-card__actions button{
    background-color: rgb(232, 17, 75);
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    height: 100%;
    color: white;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

body main{
    flex: 1;
    padding: 2rem;
}



// DEVISE
.custom-devise-links{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

//List of Flights on FLIGHT#INDEX



.custom-card-flight{
    display: flex;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 0.4rem;
    box-shadow: rgba(16, 0, 79, 0.12) 0px 2px 8px 0px;
    padding: 0 1rem;
}

.custom-card-flight__info{
    flex: 1;
    padding: 1rem;
}

.custom-card-flight__info__top{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}



.custom-card-flight__info__bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(225, 225, 225);
    padding-top: 0.5rem;
   
}

.custom-card-flight__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-flight__container__vertical{
    flex-direction: column;
}

.custom-card-flight__code{
    color: rgb(48, 48, 48);
    font-size: 26px;
    font-weight: 200;
}

.custom-card-flight__hour{
    color: rgb(27, 0, 136);
    font-size: 26px;
}

.custom-card-flight__small-text{
    color: rgb(133, 133, 133) ;
    font-size: 14px;
}

.custom-card-flight__actions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
}

